@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url('../fonts/Inter-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}