@font-face {
  font-family: "PT Serif";
  font-display: swap;
  src: url('../fonts/PTSerif-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "PT Serif";
  font-display: swap;
  src: url('../fonts/PTSerif-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "PT Serif";
  font-display: swap;
  src: url('../fonts/PTSerif-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "PT Serif";
  font-display: swap;
  src: url('../fonts/PTSerif-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}