{{- define "main" }}
<main class="archive">
	<article>
		<h2 class="page-title">{{ .Title }}</h2>
		{{- $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
		<div class="archive-categories">
			{{ range $list }}
			<a href="{{ .Permalink }}"><button>{{ .Title }}</button></a>
			{{ end }}
		</div>
		{{- $posts := where  .Site.RegularPages "Type" "post" }}
		{{- $grouped := $posts.GroupByDate "January 2006" }}
		{{- range $grouped }}
			<h3 class="archive-range">{{ .Key }}</h3>
			{{- range .Pages }}
			<p class="post-date"><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 2, 2006" }} →</a></p>
			<div class="entry">
				{{- if .Title }}<h3>{{ .Title }}:</h3>{{- end }}
				<p>{{ .Summary }}</p>
			</div>
			{{- end }}
		{{- end }}
	</article>
</main>
{{- end }}