  <link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Italic.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-BoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/RobotoCondensed-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/RobotoCondensed-Italic.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/RobotoCondensed-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>
  <link rel="preload" href="/fonts/RobotoCondensed-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous"/>