<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="view-transition" content="same-origin" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  {{ partial "opengraph.html" . }}
  {{- $creator := .Site.Params.fediverse_creator }}
  {{- if $creator }}
  <meta name="fediverse:creator" content="{{ $creator }}" />
  {{- end }}
  <title>{{- block "title" . -}}{{- .Site.Title -}}{{- if and .Title (ne .Title .Site.Title) }} | {{ .Title }}{{- end -}}{{- end -}}</title>
  <meta name="description" content="{{ (or .Summary .Site.Params.itunes_description) }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="author" href="humans.txt" />
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  {{ partial "microblog_head.html" . }}
</head>