<link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-SemiBoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
<link rel="preload" href="/fonts/RobotoCondensed-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>